/* !!IMPORT ALLTID I TOP!! */
@import "./cssComponents/testBtn.css";
@import "./cssComponents/valueSelector.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  place-content: center;
  padding-top: 5%;
  gap: 2rem;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 80dvw;
  gap: 2rem;
}
.btnAndScoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputLabel,
.selectorLabel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.errorMessage {
  color: red;
}
.redPlaceHolder::placeholder {
  color: red;
}
.submitBtn,
.completeBtn,
.sortSelector {
  background-color: rgb(12, 142, 25);
  color: rgb(242, 241, 241);
  padding: 0.75em 1.5em;
  font-weight: bold;
  font-size: inherit;
  border: none;
  border-radius: 0.5em;
  letter-spacing: 0.05em;
  transition: 300ms;
}
.submitBtn:hover,
.completeBtn:hover,
.completeBtn:disabled {
  background-color: rgb(242, 241, 241);
  color: rgb(12, 142, 25);
}

.sortSelector option:disabled {
  color: white;
  font-weight: bold;
}

.sortContainer {
  display: flex;
  gap: 1rem;
}

.valueSelector,
#todoInput {
  padding: 0.25em 1em;
  border: none;
  border-bottom: 0.25em solid rgb(11, 11, 11);
}

.valueSelector:focus {
  outline: none;
}
#todoList,
#completedList {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  max-width: 80dvw;
}

#completedList {
  border-top: 3px solid rgb(11, 11, 11);
}

#todoList > *,
#completedList > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#todoList .listItem .listContent,
#completedList .listItem .listContent {
  width: 40%;
  line-height: 115%;
  letter-spacing: 0.05rem;
}

#todoList .listItem .listUrgency,
#completedList .listItem .listUrgency {
  font-weight: bold;
}

.removeBtn {
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: inherit;
  letter-spacing: 0.05em;
  transition: 300ms;
  background-image: url(./svg/x-symbol-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  position: absolute;
  right: -5%;
}

.removeBtn:hover {
  filter: invert(20%) sepia(100%) saturate(2741%) hue-rotate(354deg)
    brightness(85%) contrast(92%);
}

@media only screen and (max-width: 450px) {
  :root {
    font-size: 10px;
  }
  .sortContainer {
    flex-direction: column;
  }
  #todoList > *,
  #completedList > * {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  #todoList > .listItem .completeBtn,
  #completedList > .listItem .completeBtn {
    align-self: end;
  }
}
@media only screen and (min-width: 1600px) {
  body {
    font-size: 20px;
  }
}
.achievementTasks {
  background-color: rgb(12, 142, 25);
  color: rgb(242, 241, 241);
  padding: 0.75em 1.5em;
  font-weight: bold;
  font-size: inherit;
  border: none;
  border-radius: 0.5em;
  letter-spacing: 0.05em;
  transition: 300ms;
  margin: auto;
}
.achievementTasks:hover {
  background-color: rgb(242, 241, 241);
  color: rgb(12, 142, 25);
}
